---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost.astro';


const allPosts = Object.values(import.meta.glob('./posts/*.md', { 
  eager: true 
}));

const pageTitle = "Мой блог об изучении Astro"
---
<BaseLayout pageTitle={pageTitle}>
  <p>Здесь я буду публиковать записи о своем пути изучения Astro.</p>
  <ul>
     {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>