---
import BaseLayout from '../layouts/BaseLayout.astro'

interface Post {
  url: string;
  frontmatter: {
    title: string;
  };
}

const allPosts = Object.values(import.meta.glob<Post>('./posts/*.md', { 
  eager: true 
}));

const pageTitle = "Мой блог об изучении Astro"
---
<BaseLayout pageTitle={pageTitle}>
  <p>Здесь я буду публиковать записи о своем пути изучения Astro.</p>
  <ul>
    {allPosts.map((post) => (
      <li>
        <a href={post.url}>{post.frontmatter.title}</a>
      </li>
    ))}
  </ul>
</BaseLayout>